/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #7b0663;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #7b0663;
    color: #fff;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.eaCEEGUI{
    transition: all 0.2s;
}

.eaCEEGUI-rOneRow{
    padding-bottom: 10px;
}

.eaCEEGUI-rOneRow h2{
    border:none;
    font-size: 1em;
    padding: 0;
    margin: 10px 0 0 15px;
    border-bottom: solid 1px #ccd4df;
}

.eaCEEGUI-rDetails{
    height: 160px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.45);
    overflow: hidden;
}

.eaCEEGUI-rDetails div{
    display: inline;
    float: left;
    width: 49%;
}

.eaCEEGUI-rHeader{
    height: 40px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.45);
}

.eaCEEGUI-rHeader-rSingleContentHolder{
    height: 40px;
    font-size: 1.5em;
    display: table-cell;
    vertical-align: middle;
    cursor: default;
}

.eaCEEGUI-rHeader-rLogoHolder{
    width: 20px;
    padding-left: 5px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 15px 15px;
}

.eaCEEGUI-rHeader-rSeparator{
    width: 2px;
    height: 40px;
}

.eaCEEGUI-rHeader-list{
    list-style: none;
    margin: 0;
}

.eaCEEGUI-rHeader-list li, .eaCEEGUI-rHeader-list li a{
    /*
    background: #00285E;
    */
    color: #00285E;
    display: table-cell;
    font-size: 0.9em;
    height: 40px;
    text-align: left;
    vertical-align: middle;
    width: 180px;
}

.eaCEEGUI-rHeader-list li{
    width: 250px;
}


/*
.eaCEEGUI-rHeader-list li a{
    text-decoration: none;    
}
*/
.eaCEEGUI-rHeader-list li a.notCurrentPage{
    text-decoration: none;
    background: #f0f0f0;
/*  border-right: 1px solid #e6eaef; */
    color: #00285E;
    cursor: pointer;
    font-size: 0.7em;
    font-weight: normal;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    transition:all 0.2s;    
}

.eaCEEGUI-rHeader-list li a.notCurrentPage:hover{
    background: #fff;
    color: #00625f;
/*    border-right: 1px solid #99c0bf;*/
    border-left: 1px solid #99c0bf;
    border-right: 1px solid #99c0bf;
}


/*
.eaCEEGUI-rHeader-list li:first-child  a.notCurrentPage{
    border-left: 1px solid #e6eaef;
    transition:all 0.2s;
}

.eaCEEGUI-rHeader-list li:first-child a.notCurrentPage:hover{
    border-left: 1px solid #99c0bf;
}

.eaCEEGUI-rHeader-list li:last-child  a.notCurrentPage{
    border-right: 1px solid #e6eaef;
    transition:all 0.2s;
}

.eaCEEGUI-rHeader-list li:last-child a.notCurrentPage:hover{
    border-right: 1px solid #99c0bf;
}

*/

.eaCEEGUI-rCICContainer, .eaCEEGUI-rComputeContainer, .eaCEEGUI-raNode{
    display: inline;
    float: left;
}

.eaCEEGUI-rCICContainer{
    display: table;
    margin: 10px 0 0 10px;
    padding-bottom: 20px;
}


.eaCEEGUI-raNode, .eaCEEGUI-raNode-cic{
    display: table-cell;
    border-radius: 8px;
    height: 400px;
    margin: 2px;
    text-align: center;
    width: 120px;
    word-wrap: break-word;
    color: white;
}

.eaCEEGUI-raNode-cic{
    float: left;
    height: 230px;
    padding: 170px 8px 0 0;
    vertical-align: middle;
    width: 70px;
}

.eaCEEGUI-raNode h3{
    font-size: 0.95em;
    margin-bottom: 0;
    font-weight: bold;
    color: white;
    border-radius: 6px 6px 0 0;
}

body .eaCEEGUI-raNode-cic h3{
    border-bottom: none;
    color: #fff;
    font-size: 1.4em;
    font-weight: lighter;
    line-height: 1em;
    margin: 0 auto;
}

.eaCEEGUI-NodeStatus-up{
    border: solid 1px rgba(0,0,0,0.3);
}

.eaCEEGUI-raNode-raAppsContainer{
    border-collapse: collapse;
    display: table;
    height: 89%;
    margin: 5px 0 0 0;
    width: 120px;
}


.eaCEEGUI-raNode-raApp{
    font-size: 1em;
    line-height: 1.2em;
    margin: 1px 0 0 0;
    padding: 4px;
    text-align: left;
    display: table-row;
}

.eaCEEGUI-raNode-raApp-innerContainer, .eaCEEGUI-raNode-raApp-innerContainerDemoCase{
    /*
      display:table-cell; 
      padding:0 0 5px 8px;
      background: rgba(255, 255, 255, 0.2);
    */
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    font-size: 1.4rem;
    height: 45px;
    margin: 0 auto;
    padding: 28px 0 0 10px;
    vertical-align: middle;
}

.eaCEEGUI-raNode-raApp-innerContainer p, .eaCEEGUI-raNode-raApp-innerContainerDemoCase p{
    font-size: 1.4em;
    text-align: left;
    margin: 0;
}

body .eaCEEGUI-raNode-raApp-innerContainer-callSpaces{
    padding: 22px 0 5px 10px;    
}

.eaCEEGUI-raNode-raApp-innerContainerDemoCase{
    color: #00285e;
    border:solid 1px #fff;
    background: rgba(255,255,255,1);
    margin-bottom: 2px;
}

.eaCEEGUI-rCurtain{
    height:100%; 
    width:100%; 
    background:rgba(0,0,0,0.5); 
    position:fixed; 
    z-index:100;
    transition: all 0.2s;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}